@{
    var selectedGenre = ViewBag.SelectedGenre as string;
    var sortBy = ViewBag.SortBy as string;
}
<style>
    .dropdown-menu .dropdown-item.active,
    .dropdown-menu .dropdown-item:active {
        background-color: black !important;
        color: white !important;
    }
</style>

<button class="btn btn-outline-dark dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px">
    Genre: @selectedGenre
</button>
<ul class="dropdown-menu" aria-labelledby="filterDropdown">
    @foreach (var genre in Model)
    {
        <li>
            <a class="dropdown-item @(genre == selectedGenre ? "active" : "")"
               asp-controller="Home"
               asp-action="Index"
               asp-route-genre="@genre"
               asp-route-sortBy="@sortBy">
                @genre
            </a>
        </li>
    }
</ul>